.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Noto Sans JP', sans-serif !important;
}

.reveal p {
  font-size: 0.9em;
}

img.poster {
  float: left;
  width: 300px;
}

img.theme {
  width: 250px;
}

#conclusion img {
  width: 300px;
  margin: 5px 0;
}
